<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<link rel="SHORTCUT ICON" href="/public/favicon.ico"  />
<title>Test Scoring</title>
	<script src="public/jquery-1.9.1.js"></script>
	<script src="public/QUnit.js"></script>	
		
	
	<script src="public/global.js"></script>
	<script src="public/Stats.js"></script>
	<script src="public/TestScoring.js"></script>
	
	<link rel="stylesheet" type="text/css" href="css/index.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/QUnit.css" media="screen" />

</head>
<body >

<h1>Test Scoring</h1>

Hero Attributes

<div >

<table>
<tr>
<td>{{{HeroTable}}}</td>
<td>{{{OrcTable}}}</td>
</tr>
</table>

</div>


<div>
	 <a href='/GridGame'>Full Game</a>
</div>
<div>
 	<a href='/TestGrid'>Test Grid Only<a>
</div>    
<div> 
	<a href='/TestScoring'>Test Scoring Only</a>
</div>


    
<div>
<input type='button' id='btnStrike' value='Strike' onClick='ELF.run.stats.CalcStrike();'></input>

<input type='button' id='btnSave' value='Save' onClick='ELF.run.stats.writeJson();'></input>
</div>


<div id="message" style='color:white;'></div>

<p id='debug'></p>

<br/>

    <div id="qunit"></<div>
    <div id="qunit-fixture"></<div>
</body>
</html>

