
<div>
	<div> <h1>Grid Game</h1></div>

    <div id='divMainCanvas'>
        <canvas id="mainCanvas" width="500" height="500">
            This text is displayed if your browser does not support HTML5 Canvas.
        </canvas>
    </div>
    <div id='divCombatCanvas'>
        <canvas id="combatCanvas" width="600" height="500">
            This text is displayed if your browser does not support HTML5 Canvas.
        </canvas>
        <div>
        	<input type='button' id='btnStrike' value='Strike' onClick='ELF.run.stats.CalcStrike();'></input>
    	</div>
       	
       	<input type='checkbox' id='chkSound' checked = true value='true' value=true onClick='ELF.run.grid.ToggleSound();'></input>
    	
    </div>
    
    <p id='movecount'></p>
    
    <p id='message'></p>
    
    <div>
   		 <a href='/GridGame'>Full Game</a>
    </div>
    <div>
   	 	<a href='TestGrid'>Test Grid Only<a>
    </div>    
    <div> 
    	<a href='/TestScoring'>Test Scoring Only</a>
    </div>
         
            
</div>
            