<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Grid Game!!!</title>

	<script src="public/jquery-1.9.1.js"></script>
	<script src="public/QUnit.js"></script>	
	
	<script src="public/global.js"></script>
	<script src="public/Stats.js"></script>
	<script src="public/KeyboardInput.js"></script>
	<script src="public/Grid.js"></script>
	<script src="public/Display.js"></script>
	<script src="public/UnitTestCases.js"></script>
	<script src="public/GridGame.js"></script>
	
	<link rel="stylesheet" type="text/css" href="css/index.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/QUnit.css" media="screen" />
	<link rel="SHORTCUT ICON" href="/public/favicon.ico"  />
</head>
<body>



<audio id="mysoundclip" preload="auto">
<source src="../sound/move.wav"></source>
</audio>


<table>
<tr><td>Welcome: {{{FirstName}}}</td><td></td></tr>
<tr>
<td>{{{Grid}}}</td>
<td>

	<div id='divAttributes'>
		<table>
		<tr>
		<td>{{{HeroTable}}}</td>
		<td>{{{OrcTable}}}</td>
		</tr>
		</table>
		<div style='margin: 2em;'>
			<p id='movecount'></p>
		    <p id='message'></p>
		    <p id='debug'></p>  
    	</div>  
	</div>
	
</td>
</tr>





</table>
<div>
	<input type='button' id='btnShowCharAttributes' value='Show/Hide Grid' onClick='ELF.run.display.ShowGrid();'></input>
	<input type='button' id='btnShowCharAttributes' value='Show/Hide Char Attributes' onClick='ELF.run.display.ShowCharAttributes();'></input>
	<input type='button' id='btnShowCombat' value='Show/Hide Combat' onClick='ELF.run.display.ShowCombat();'></input>
</div>

<div>
<input type='button' id='btnSaveGrid' value='Save Grid' onClick='ELF.run.grid.SaveGrid();'></input>
<input type='button' id='btnSaveNpcGrid' value='Save NPC Grid' onClick='ELF.run.grid.SaveNpcGrid();'></input>
<input type='button' id='btnSaveHero' value='Save Hero' onClick='ELF.run.stats.writeJsonHero();'></input>
<input type='button' id='btnSaveOrc' value='Save Orc' onClick='ELF.run.stats.writeJsonOrc();'></input>

</div>
<div>
<input type='button' id='btnStory' value='Game Story' onClick='document.location.href = "/Story"'></input>
</div>    
<div>
	<input type='button' id='btnRunTestCases' value='Run Test Cases' onClick='RunTestCases();'></input>
</div>
    

<div id="qunit"></<div>
<div id="qunit-fixture"></<div>

</body>
</html>

