<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>GridGame Test Grid</title>

	<script src="public/jquery-1.9.1.js"></script>
	<script src="public/QUnit.js"></script>	
		
	<script src="public/global.js"></script>
	<script src="public/Stats.js"></script>
	<script src="public/KeyboardInput.js"></script>
	<script src="public/Grid.js"></script>
	<script src="public/TestGrid.js"></script>
	
	<link rel="stylesheet" type="text/css" href="css/index.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/QUnit.css" media="screen" />

</head>
<body>
<div>
{{{Grid}}}
</div>


    <div id="qunit"></<div>
    <div id="qunit-fixture"></<div>
    
</body>
</html>