doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  nav
    ul
      li
        a(href='/') Home
      li
        a(href='/page01') Page01
      li
        a(href='/page02') Page02
      li
        a(href='/page03') Page03
      li
        a(href='/page04') Page04
      li
        a(href='http://54.243.217.141:30025/GridGame') GameGrid
  block content
  