<h1 id="notes-from-charlie">Notes from Charlie</h1>
<p>Week08</p>
<p>This is very good, Chris.</p>
<p>One problem I see is that you are letting global variables creep in and pollute the global name space. At the bottom of <strong>Grids.js</strong> you have these four functions in the global namespace:</p>
<pre><code>var ShowGrid = function()
{
    if( $(&#39;#divMainCanvas&#39;).is(&quot;:visible&quot;) )
        $(&#39;#divMainCanvas&#39;).hide(&#39;Slide&#39;);
    else 
        $(&#39;#divMainCanvas&#39;).show(&#39;Slide&#39;);
}

var ShowCombat = function()
{
    if( $(&#39;#divCombatCanvas&#39;).is(&quot;:visible&quot;) )
        $(&#39;#divCombatCanvas&#39;).hide(&#39;Slide&#39;);
    else
        $(&#39;#divCombatCanvas&#39;).show(&#39;Slide&#39;);
}

var ShowCharAttributes = function()
{
    if( $(&#39;#divAttributes&#39;).is(&quot;:visible&quot;) )
        $(&#39;#divAttributes&#39;).hide(&#39;Slide&#39;);
    else
        $(&#39;#divAttributes&#39;).show(&#39;Slide&#39;);
}</code></pre>
<p>I have similar code, and placed them in a file called <strong>Display.js</strong>, and I believe I made that object one of those that is global to the application: <strong>ELF.run.display</strong>. That way all the code in my program could call the display functions when needed. The key points:</p>
<ul>
<li>Don't pollute the global name space</li>
<li>There are easy ways to to create &quot;global&quot; methods in a real (ie module pattern) object that are not in the global namespaces.</li>
</ul>
<p>Another issue I see with your code is the shere size of Grid.js. To me, methods like <strong>DoCombat</strong> and <strong>MakeRandomGrids</strong> don't belong in the same object as a <strong>draw</strong> or <strong>getCanvas</strong> method. In fact, I see three objects here:</p>
<ul>
<li>Draw.js</li>
<li>Grids.js</li>
<li>Combat.js</li>
</ul>
<p>We just didn't have time to discuss object design in much depth in this course. It is, of course, a controversial subject and there is no one right answer to most design questions. Yet there are some guidelines that can be agreed upon by most people.</p>
<p>Once again, great job. This is excellent.</p>
<p>Do you want to show your program to the class on Monday?</p>
<h2 id="week06---midterm">Week06 - Midterm</h2>
<p>Overall, this is good. You have learned the basic skills we covered so far in this course.</p>
<p>I needed to change one line of code to get this to work. On line 88 of Stats.js you call ELF.run.stats.showNpcAttributes, which is a private method. That call failed, and I had to change it to a shoNpcAttributes to get it to work:</p>
<pre><code>    var readOrcJson = function(npc_id) 
    {
        $.getJSON(&#39;/readOrc&#39;, function( charAttributes ) 
        {
            ELF.run.orc = convertToInts(charAttributes);
            //showHeroAttributes(); 
        })
        .success(function() 
        { 
            showDebug(&#39;success&#39;); 
            showNpcAttributes();                            // Charlie added this.
            // ELF.run.stats.showNpcAttributes();  // Did not work!
        })
        .error(function(jqXHR, textStatus, errorThrown) 
        { 
            alert(&quot;error calling JSON. Try JSONLint or JSLint: &quot; + textStatus); 
        })
        .complete(function() { console.log(&quot;csc: completed call to get index.json&quot;); });
    }</code></pre>
<p>Three things you could have done to make this better:</p>
<ol type="1">
<li>More modules. Compat and Drawing are in the same module. They are different tasks. CalcStrike is a method in Stats, and that seems like it is part of the combat logic.</li>
<li>Read and write state. As far as I can tell, you never actually call your writeJson method. Reading in the grid, saving game state or stats, all would be good exercises.</li>
<li>Add more test cases. This is fairly minimal unit testing.</li>
</ol>
<h2 id="week05---canvasgrid">Week05 - CanvasGrid</h2>
<p>You should be careful about hardcoding &quot;magic numbers&quot; over and over. You write:</p>
<pre><code>combat_context.drawImage(imagesPalette, rectSize, 0, 
                rectSize, rectSize,
                0, 0, 
                300, 500);</code></pre>
<p>I know what 300 and 500 are, but others won't. A name like bitmapWidth or bitmapHeight would help. Also, you are putting the same numbers in multiple places, which is always a sign that you need to declare a variable.</p>
<p>We all get careless about this sort of thing, but it is probably better form to always use curly braces when setting up a code block. You wrote:</p>
<pre><code>if( npc[x][y]&gt;0 )
    DoCombat(npc[x][y]);</code></pre>
<p>It should be:</p>
<pre><code>    if( npc[x][y]&gt;0 ) {
        DoCombat(npc[x][y]);            
    }</code></pre>
<p>The following are from Grid.js:</p>
<pre><code>var ShowGrid = function()
{
    if( $(&#39;#divMainCanvas&#39;).is(&quot;:visible&quot;) )
        $(&#39;#divMainCanvas&#39;).hide(&#39;Slide&#39;);
    else 
        $(&#39;#divMainCanvas&#39;).show(&#39;Slide&#39;);
}

var ShowCombat = function()
{
    if( $(&#39;#divCombatCanvas&#39;).is(&quot;:visible&quot;) )
        $(&#39;#divCombatCanvas&#39;).hide(&#39;Slide&#39;);
    else
        $(&#39;#divCombatCanvas&#39;).show(&#39;Slide&#39;);
}

var ShowCharAttributes = function()
{
    if( $(&#39;#divAttributes&#39;).is(&quot;:visible&quot;) )
        $(&#39;#divAttributes&#39;).hide(&#39;Slide&#39;);
    else
        $(&#39;#divAttributes&#39;).show(&#39;Slide&#39;);
}</code></pre>
<p>They should probably be in a separate object/file with a name like Display.js. They control not the grid, per se, but the layout of the game. So I guess Layout.js would be good also.</p>
<p>Overall, great job.</p>
<h2 id="week-03-canvasgrid">Week 03-CanvasGrid</h2>
<p>Take a look here, and change the name in your .project file based on what you read about <strong>.project files</strong>:</p>
<p><a href="http://localhost:20212/charlie/development/android/Eclipse.html#createProject">http://localhost:20212/charlie/development/android/Eclipse.html#createProject</a></p>
<p>Take a look at this method, quoted directly from your program:</p>
<pre><code>app.get(&#39;/go&#39;, function(request, res) {
    console.log(&quot;In Go Callback&quot;);
    var query = request.query;
    console.log(query);
    console.log(query[&#39;openid.claimed_id&#39;]);
    relyingParty.verifyAssertion(request, function(error, result) {
        var isGood = !error &amp;&amp; result.authenticated ? &#39;&lt;h1&gt;Success!&lt;/h1&gt;&#39;
                : &#39;&lt;h1&gt;Failed&lt;/h1&gt;&#39;
        res.writeHead(200, {
            &#39;Content-Type&#39; : &#39;text/html&#39;
        });
        res.write(isGood);
        res.write(&#39;&lt;p&gt;&#39; + query[&#39;openid.assoc_handle&#39;] + &#39;&lt;/p&gt;&#39;);
        res.write(&#39;&lt;p&gt;&#39; + query[&#39;openid.claimed_id&#39;] + &#39;&lt;/p&gt;&#39;);
        res.write(&#39;&lt;p&gt;&#39; + query[&#39;openid.identity&#39;] + &#39;&lt;/p&gt;&#39;);
        res.write(&#39;&lt;p&gt;&#39; + query[&#39;openid.mode&#39;] + &#39;&lt;/p&gt;&#39;);
        res.write(&#39;&lt;p&gt;&#39; + query[&#39;openid.ns&#39;] + &#39;&lt;/p&gt;&#39;);
        res.write(&#39;&lt;p&gt;&#39; + query[&#39;openid.op_endpoint&#39;] + &#39;&lt;/p&gt;&#39;);
        res.write(&#39;&lt;p&gt;&#39; + query[&#39;openid.response_nonce&#39;] + &#39;&lt;/p&gt;&#39;);
        res.write(&#39;&lt;p&gt;&#39; + query[&#39;openid.return_to&#39;] + &#39;&lt;/p&gt;&#39;);
        res.write(&#39;&lt;p&gt;&#39; + query[&#39;openid.sig&#39;] + &#39;&lt;/p&gt;&#39;);
        res.write(&#39;&lt;p&gt;&#39; + query[&#39;openid.signed&#39;] + &#39;&lt;/p&gt;&#39;);
        res.end(&#39;bye&#39;);
    });
});</code></pre>
<p>This is the method that you need to change. In particular, you want to add code after this line that will allow you to launch your game:</p>
<pre><code>relyingParty.verifyAssertion(request, function(error, result) {</code></pre>
<p>The code you insert will look something like the code from this method, which again I am taking verbatim from your current version of GameGrid:</p>
<pre><code>app.get(&#39;/launchSecondHtmlFile&#39;, function(request, response) {
    console.log(&#39;launchSecondHtmlFile called&#39;);
    try {
        var html = fs.readFileSync(&#39;Public/SecondFile.html&#39;);
        response.writeHeader(200, {
            &quot;Content-Type&quot; : &quot;text/html&quot;
        });
        response.end(html);
    } catch (error) {
        console.log(error);
    }

});</code></pre>
<p>I'm not sure what you are asking about the OpenId issue. The code you have turned in works fine. I can use it to sign into OpenId and call your current &quot;go&quot; route handler. The problem is simply that it launches the code from my sample program, and not the code for your game.</p>
<p>Please try again and resubmit.</p>
