
<div>
	<div> <h1>Grid Game</h1></div>

    <div>
        <canvas id="mainCanvas" width="300" height="300">
            This text is displayed if your browser does not support HTML5 Canvas.
        </canvas>
    </div>
    
    <p id='movecount'></p>
    
    <p id='message'></p>
            
            
</div>
            