



body
{
	background-color:darkblue;
	color: black
}

table
{
    float: left; 
    background-color: lightgreen;
    margin: 1em;
    border-width: 2px;
    border-style: solid;
}

td
{
	border-width: 1px;
    border-style: solid;
}

button

{
	float: none;
}