<table id="characterTable">
<tr><th>Hero</th><th>Value</th></tr>
<tr><td>Login:</td><td ><span id='hero_login'>Chris</span></td></tr>
<tr><td>Type:</td><td ><span id='hero_type'>hero</span></td></tr>
<tr><td>Moves:</td><td ><span id='hero_moves'>0</span></td></tr>
<tr><td>Experience:</td ><td ><span id='hero_experience'>0</span></td></tr>
<tr><td>Health:</td><td ><span id='hero_health'>50</span></td></tr>
<tr><td>Strength:</td><td ><span id='hero_strength'>0</span></td></tr>
</table>