<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Test Scoring</title>
<script src="public/jquery-1.9.1.js"></script>
<script src="public/index.js"></script>
<link rel="stylesheet" type="text/css" href="public/index.css" media="screen" />
</head>
<body >

<h1>Test Scoring</h1>

Hero Attributes

<div >


{{{HeroTable}}}

{{{OrcTable}}}

</div>


<!--  
<p id='plogin'>
Login:
<input type="text" id='login' value='chris'></input>
</p>

<p id='ptype'>
Type:
<input type="text" id='type1' value='hero'></input>
</p>

<p id='pmoves'>
Moves:
<input type="text" id='moves1' value='0'></input>
</p>

<p id='pexperience'>
Experience:
<input type="text" id='zexperience1l' value='0'></input>
</p>

<p id='phealth'>
Health:
<input type="text" id='health1' value='50'></input>
</p>

<p id='pstrength'>
Strength:
<input type="text" id='zstrength1' value='0'></input>
</p>
-->

<br/>
<div>
<div>


<input type='button' id='btnStrike' value='Strike' onClick='CalcStrike();'></input>


<input type='button' id='btnSave' value='Save' onClick='writeJson();'></input>
</div>
</div>

<div id="message" style='color:white;'></div>

<p id='debug'></p>
</body>
</html>

