<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>

<script src="public/jquery-1.9.1.js"></script>
<script src="public/index.js"></script>

</head>
<body>
{{{Grid}}}

</body>
</html>