myborder()
  border: solid yellow thin;
  border-radius: 8px;

body 
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #990000;



a 
  color: #00B7FF;

nav
  myborder()


li
	display:inline;
	padding:6px;
	background-color:#770000;
	myborder()
	margin: 8px;

