doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  nav
    ul
      li
        a(href='/') Home
      li
        a(href='/page02') Page02
  block content