extends layout

block content
  h1= title
  p My name is: #{name}
  p  I suppose my question is whether Jade will buy me more in the long-run, rather than just using standard HTML.  Using "extends" feature is nice, and variables are good too.  Perhaps there are design patterns in Jade which really make it shine.
  
  