extends layout

block content
  h1= title
  p My name is: #{name}
  p This is page three of my assignment.  I wonder if using Jade just adds a level of complexity and makes creating HTML pages more complicated.  I worry that learning Jade is just another syntax I would need to learn, and that sticking with standard HTML is just easier and more universal.
  