body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #900;
}
a {
  color: #00b7ff;
}
nav {
  border: solid #ff0 thin;
  border-radius: 8px;
}
li {
  display: inline;
  padding: 6px;
  background-color: #700;
  border: solid #ff0 thin;
  border-radius: 8px;
  margin: 8px;
}
