<table id="orcTable" >
<tr><th>Orc</th><th>Value</th></tr>
<tr><td>Type:</td><td ><span id="orc_type">NPC</span></td></tr>
<tr><td>Moves:</td><td ><span id="orc_moves">0</span></td></tr>
<tr><td>Experience:</td ><td ><span id="orc_experience">0</span></td></tr>
<tr><td>Health:</td><td ><span id="orc_health">10</span></td></tr>
<tr><td>Strength:</td><td ><span id="orc_strength">0</span></td></tr>

</table>
