
<div>
	<div> <h1>Grid Game</h1></div>

    <div>
        <canvas id="mainCanvas" width="500" height="500">
            This text is displayed if your browser does not support HTML5 Canvas.
        </canvas>
    </div>
    
    <p id='movecount'></p>
    
    <p id='message'></p>
    
    <div>
   		 <a href='/GridGame'>Full Game</a>
    </div>
    <div>
   	 	<a href='TestGrid'>Test Grid Only<a>
    </div>    
    <div> 
    	<a href='/TestScoring'>Test Scoring Only</a>
    </div>
        
           

            
            
</div>
            