<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Grid Game!!!</title>

	<script src="public/jquery-1.9.1.js"></script>
	<script src="public/QUnit.js"></script>	
	
	<script src="public/global.js"></script>
	<script src="public/Stats.js"></script>
	<script src="public/KeyboardInput.js"></script>
	<script src="public/Grid.js"></script>
	<script src="public/UnitTestCases.js"></script>
	<script src="public/GridGame.js"></script>
	
	<link rel="stylesheet" type="text/css" href="public/index.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="public/QUnit.css" media="screen" />
</head>
<body>

<table>
<tr>
<td>{{{Grid}}}</td>
<td>

	<div id='divAttributes'>
		<table>
		<tr>
		<td>{{{HeroTable}}}</td>
		<td>{{{OrcTable}}}</td>
		</tr>
		</table>
	</div>
</td>
</tr>





</table>
<div>
	<input type='button' id='btnShowCharAttributes' value='Show/Hide Grid' onClick='ShowGrid();'></input>
	<input type='button' id='btnShowCharAttributes' value='Show/Hide Char Attributes' onClick='ShowCharAttributes();'></input>
	<input type='button' id='btnShowCombat' value='Show/Hide Combat' onClick='ShowCombat();'></input>
</div>

<div>
<input type='button' id='btnSaveGrid' value='Save Grid' onClick='ELF.run.grid.SaveGrid();'></input>
</div>
    
<div>
	<input type='button' id='btnRunTestCases' value='Run Test Cases' onClick='RunTestCases();'></input>
</div>
    
<p id='debug'></p>    
<div id="qunit"></<div>
<div id="qunit-fixture"></<div>

</body>
</html>

